* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }

h1{
    text-align: center;
    margin: 15px;
}
#parentDiv{
    position: relative;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
section{
    background-color: #808080;
    margin: 15px;
    padding-bottom: 5px;

}
section > p{
    width: 30%;
    height: 5%;
    border: 1px solid #000000;
    text-align: center;
    float: right;

}
#chicken{
    background-color: #FF0000;
}
#beef{
    background-color: #00FF00;
}
#sushi{
    background-color: #00AAFF;
}
.text{
    clear: both;
    padding: 10px;
}
/*Max screens*/
@media(min-width: 992px){

	section{
		width: 30%;
    	margin-top: 1%;
    	margin-right: 2%;
    	margin-bottom: 1%;
    	margin-left: 1%;
    	float: left; 
	} 	

}
/*Medium screens*/
@media(min-width: 768px) and (max-width: 991px){
	#section1,#section2{
		width: 46%;
		margin: 2%;
    	float: left; 
	} 
	#section3{
		width: 96%;
		margin: 2%;
    	float: left; 
	} 

}